### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
df = pd.read_csv(file)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [7]:
# player count
player_count = len(df['SN'].unique())
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#purchasing analysis
# number of unique itesm
item_count = len(df['Item ID'].unique())
item_count
#average purchase price
avg_pp = round(df['Price'].mean(), 2)
avg_pp
#total number of purchase
tnp = len(df['Price'])
tnp
#total revenue
tr = round(df['Price'].sum(), 2)
tr

2379.77

In [48]:
pur_analysis = pd.DataFrame({
    "Number of Items":[item_count],
    "Average Purchase Price": avg_pp,
    "Total # of Purchases": tnp,
    "Total Revenue": tnp
})

pur_analysis.style.format({'Average Purchase Price': '${:.2f}', 'Total Revenue': '${:,.2f}'})
pur_analysis

,Number of Items,Average Purchase Price,Total # of Purchases,Total Revenue
0,183,3.05,780,780

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
# Gender count
gender_breakdown = pd.DataFrame(df['Gender'].value_counts())
gender_breakdown

                       Gender
Male                      652
Female                    113
Other / Non-Disclosed      15

In [10]:
# Gender percentage
gender_perc = round(gender_breakdown/player_count*100)
gender_perc.rename(columns = {"Gender": "Percent of Gender"})

                       Percent of Gender
Male                               113.0
Female                              20.0
Other / Non-Disclosed                3.0


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
# The below each broken by gender
gen_price=df.groupby(["Gender"])['Price'].sum()
# Purchase Count
gen_pur=df.groupby(["Gender"])['Price'].count()
# Average Purchase Price
gen_pur=df.groupby(["Gender"])['Price'].count()
# Total Purchase Value
gen_users=df.groupby(["Gender"])
# Normalized Totals normalized_df=(df-df.min())/(df.max()-df.min()) 
avg_gen= round(gen_price/gen_pur,2)

In [12]:
#creating table
gen_ana=pd.DataFrame({"Purchase Count": gen_pur, "Average Purchase Price":avg_gen, "Total Purchase Value":gen_price})
gen_ana= gen_ana.sort_values("Total Purchase Value", ascending=False)
gen_ana= gen_ana[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
gen_ana

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Male,652,3.02,1967.64
Female,113,3.20,361.94
Other / Non-Disclosed,15,3.35,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
DF_Age = df
bins = [0,10,14,15,19,24,29,34,39,]
group_names = ['<10','10-14', '15-19','20-24','25-29','30-34','35-39','40+']


DF_Age["Age_Bracket"] = pd.cut(DF_Age["Age"], bins, labels=group_names)
DF_Age

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age_Bracket
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,25-29
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,NaN
2,2,Ithergue48,24,Male,92,Final Critic,4.88,25-29
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,25-29
4,4,Iskosia90,23,Male,131,Fury,1.44,25-29
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,25-29
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,40+
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,25-29
8,8,Undjask33,22,Male,21,Souleater,1.10,25-29
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,40+
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,25-29
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,25-29
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,25-29
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,25-29
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,40+
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,25-29
16,16,Lisirra25,20,Male,40,Second Chance,2.52,25-29
17,17,Zontibe81,21,Male,161,Devine,1.76,25-29
18,18,Reunasu60,22,Female,82,Nirvana,4.90,25-29
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,35-39
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,25-29
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,25-29
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,40+
23,23,Eyrian71,40,Male,151,Severance,3.40,NaN
24,24,Siala43,30,Male,141,Persuasion,3.19,35-39
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,30-34
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,25-29
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,25-29
...,...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61,25-29
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36,10-14
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60,20-24
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,40+
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05,25-29
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15,10-14
756,756,Ilast79,20,Male,73,Ritual Mace,2.05,25-29
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60,20-24
758,758,Iral74,21,Male,182,Toothpick,4.03,25-29
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77,30-34
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38,25-29
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,NaN
762,762,Asur53,26,Male,110,Suspension,1.44,30-34
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75,25-29
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07,20-24
765,765,Irith83,18,Male,130,Alpha,2.07,20-24
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,25-29
767,767,Ilmol66,8,Female,92,Final Critic,4.88,<10
768,768,Assassasta79,38,Male,92,Final Critic,4.88,40+
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58,15-19
770,770,Lirtosia63,34,Male,12,Dawne,1.02,35-39
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35,20-24
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58,30-34
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,25-29
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,25-29
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,25-29
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,25-29
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,25-29

In [15]:
group1 = DF_Age.loc[DF_Age["Age_Bracket"]=='10-14']
group2 = DF_Age.loc[DF_Age["Age_Bracket"]=='15-19']
group3 = DF_Age.loc[DF_Age["Age_Bracket"]=='20-24']
group4 = DF_Age.loc[DF_Age["Age_Bracket"]=='25-29']
group5 = DF_Age.loc[DF_Age["Age_Bracket"]=='30-34']
group6 = DF_Age.loc[DF_Age["Age_Bracket"]=='35-39']
group7 = DF_Age.loc[DF_Age["Age_Bracket"]=='40+']
group8 = DF_Age.loc[DF_Age["Age_Bracket"]=='<10']

#Purchase count
g1 = len(group1['Item ID'])
g2 = len(group2['Item ID'])
g3 = len(group3['Item ID'])
g4 = len(group4['Item ID'])
g5 = len(group5['Item ID'])
g6 = len(group6['Item ID'])
g7 = len(group7['Item ID'])
g8 = len(group8['Item ID'])

#average purchase price
ag1 = sum(group1['Price']) / len(group1['Price'])
ag2 = sum(group2['Price']) / len(group2['Price'])
ag3 = sum(group3['Price']) / len(group3['Price'])
ag4 = sum(group4['Price']) / len(group4['Price'])
ag5 = sum(group5['Price']) / len(group5['Price'])
ag6 = sum(group6['Price']) / len(group6['Price'])
ag7 = sum(group7['Price']) / len(group7['Price'])
ag8 = sum(group8['Price']) / len(group8['Price'])

#Total Purchase Value
tpv1 = sum(group1['Price'])
tpv2 = sum(group2['Price'])
tpv3 = sum(group3['Price'])
tpv4 = sum(group4['Price'])
tpv5 = sum(group5['Price'])
tpv6 = sum(group6['Price'])
tpv7 = sum(group7['Price'])
tpv8 = sum(group8['Price'])

#Norm Totals
n1 = tpv1 / g1
n2 = tpv2 / g2
n3 = tpv3 / g3
n4 = tpv4 / g4
n5 = tpv5 / g5
n6 = tpv6 / g6
n7 = tpv7 / g7
n8 = tpv8 / g8

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
d2 = {'Age Bracket': ['10-14','15-19','20-24','25-29','30-34','35-39','40+','<10'
                     ], 'Purchase Count':[g1,g2,g3,g4,g5,g6,g7,g8], 'Average Purchase Price':[ag1,ag2,ag3,ag4,ag5,ag6,ag7,ag8],'Total Purchase Value':[
    tpv1,tpv2,tpv3,tpv4,tpv5,tpv6,tpv7,tpv8],
     'Normalized Totals':[n1,n2,n3,n4,n5,n6,n7,n8]}
agedf = pd.DataFrame(data=d2)
agedf = agedf.round(2)
agedf

,Age Bracket,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
0,10-14,19,2.68,50.95,2.68
1,15-19,35,3.02,105.65,3.02
2,20-24,101,3.04,307.24,3.04
3,25-29,365,3.05,1114.06,3.05
4,30-34,101,2.90,293.00,2.90
5,35-39,73,2.93,214.00,2.93
6,40+,41,3.60,147.67,3.60
7,<10,32,3.40,108.96,3.40

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

df_spend = DataFrame(data)
sn_spend = df_spend.groupby('SN').agg({'Price':['sum','count']})
#sn_spend.sort_values(by=[], ascending = False)
sn_spend

In [18]:
#top 5 sender
#sn
sn_price=df.groupby(["SN"])['Price'].sum()
#purchase count
sn_pur=df.groupby(["SN"])['Price'].count()
#total purchase value
sn_users=df.groupby(["SN"])
#average purchase price
avg_sn= round(sn_price/sn_pur,2)

top_sn= pd.DataFrame({"Purchase Count": sn_pur, "Average Purchase Price": avg_sn, "Total Purchase Value": sn_price})
top_sn= top_sn.sort_values("Total Purchase Value", ascending=False)
top_sn= top_sn[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
                                      
top_sn.reset_index(inplace=True)
top_sn.round(2)
top_sn.head()

            SN  Purchase Count  Average Purchase Price  Total Purchase Value
0    Lisosia93               5                    3.79                 18.96
1  Idastidru52               4                    3.86                 15.45
2   Chamjask73               3                    4.61                 13.83
3       Iral74               4                    3.40                 13.62
4  Iskadarya95               3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:
# top 5 items

# Item ID
by_itemid = df.groupby('Item ID')
# Item Name
pur_by_item = pd.DataFrame(by_itemid['Item ID'].count())
# Purchase Count
pur_by_item.rename(columns = {"Item ID": "Number of Items Sold"}, inplace = True)
# Item Price
tpv = pd.DataFrame(by_itemid['Price'].sum())
# Total Purchase Value
tpv.rename(columns = {"Price": "Revenue"}, inplace =True)

no_dup_items = df.drop_duplicates('Item ID')

top5_pop = no_dup_items.merge(pur_by_item, left_on = "Item ID", right_index = True)
top5_pop = top5_pop.merge(tpv, left_on = "Item ID", right_index = True)
top5_pop = top5_pop[['Item ID', "Item Name", "Price", "Number of Items Sold", "Revenue"]]
top5_pop.sort_values("Number of Items Sold", ascending = False, inplace = True)
top5_pop = top5_pop.iloc[0:5][:]
top5_pop

,Item ID,Item Name,Price,Number of Items Sold,Revenue
25,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
0,108,"Extraction, Quickblade Of Trembling Hands",3.53,9,31.77
18,82,Nirvana,4.90,9,44.10
132,145,Fiery Glass Crusader,4.58,9,41.22
239,19,"Pursuit, Cudgel of Necromancy",1.02,8,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [23]:
#top 5 profitable items
tp5 = no_dup_items.merge(pur_by_item, left_on = "Item ID", right_index = True)
tp5 = tp5.merge(tpv, left_on = "Item ID", right_index = True)
tp5 = tp5[['Item ID', "Item Name", "Number of Items Sold", "Price", "Revenue"]]
tp5.sort_values("Revenue", ascending = False, inplace = True)
tp5.head()

,Item ID,Item Name,Number of Items Sold,Price,Revenue
25,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
18,82,Nirvana,9,4.90,44.10
132,145,Fiery Glass Crusader,9,4.58,41.22
2,92,Final Critic,8,4.88,39.04
175,103,Singed Scalpel,8,4.35,34.80